
.welcome-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 @include main-background;
  &__auth-box {
    display: flex;
    align-items: stretch;
    // box-shadow: $blackBoxShadow;
    box-shadow: $mainBoxShadow;

  }

  &__form {
    width: 40rem;
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    flex-direction: column;

    &-switch {
      margin-top: 1rem;
    }
  }

  &__image-container {
    height: 55rem;
    &__image {
      width: 40rem;
      height: 100%;
      object-fit: cover;
    }
  }
}
