
.addTitle-enter {
	opacity: 0;
	transition: all 0.2s;
}
.addTitle-enter-active {
	opacity: 0;
	transition: all 0.2s;
}
.addTitle-enter-done {
	opacity: 1;
	transition: all 0.2s;
}
.addTitle-appear {
	opacity: 1;
	transition: opacity 0.2s;
}
.addTitle-appear-active {
	opacity: 1;
	transition: opacity 0.2s;
}
.addTitle-appear--done {
	opacity: 1;
	transition: opacity 0.2s;
}
.addTitle-exit {
	opacity: 1;
	transition: all 0.2s;
}
.addTitle-exit-active {
	opacity: 0;
	transition: all 0.2s;
}
.addTitle-exit-done {
	opacity: 0;
	transition: all 0.2s;
}
